<h1><%= @restaurant.name  %></h1>
<h2><%= @restaurant.address  %></h2>
<h2><%= @restaurant.category  %></h2>
<h2><%= @restaurant.phone_number  %></h2>


<ul>
  <% @reviews.each do |review| %>
  <li>
    <%=review.content%>
    <%= review.rating%>
  </li>
  <%end %>
</ul>


<%= link_to "Back to index", restaurants_path, class: "btn btn-primary"%>
<%= link_to "Add a review", new_restaurant_review_path(params[:id]), class: "btn btn-primary"%>
